<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css">
</head>

<body>
    <header>
        <h1>Taches</h1>
    </header>
    <main>
        <h2>Liste des taches</h2>
        <ul id="tasksList">
            
        </ul>
        
        <form action="http://localhost:3000/api/tasks" method="POST" id="addTaskForm">
            <input type="text" name="newTaskContent">
            <select name="newTaskContent">
                <option value="WORK">Travail</option>
                <option value="LIFE">Loisir</option>
            </select>
            <button type="submit">Ajouter une tache</button>
        </form>
    </main>
    <footer>Au revoir</footer>
    
    <script src="js/script.js"></script>
</body>

</html>